@charset "UTF-8";
@font-face {
	font-family: 'MyFont';
	src: url("../font/COOPBL.TTF");
}
/*---Reset---*/
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	list-style-type: none;
	border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}

html {
}

body {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

/*クラス定義*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.clearfix {
	display: inline-table;
}

/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
*+html .clearfix{min-height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.hidden {
	display: none;
}

.section_title {
  width: 100%;
  text-align: center;
  font-size: 36px;
  list-style: 60px;
  font-weight: bold;
}

/* 共通デザイン */
/* header */
header {
	width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid #bfbfbf;
}
header ul#nav {
	display: flex;
}
header ul#nav li {
	height: 129px;
	margin: 0 8px;
}
header ul#nav li a {
	line-height: 129px;
	display: block;
}

/* main */
main {
  width: 1000px;
  margin: 0 auto;
}
#index_txt{
 font-family: "MyFont";
 color: #29ace2;
 font-size: 40px;
 margin: 20px;
}

/* footer */
footer {
	width: 1000px;
	margin: 50px auto 0;
	border-top: 2px solid #bfbfbf;

}
#footer_link {
	padding: 10px;
}
#footer_link a {
	float: right;
	color: #333;
}
main > img {
	margin: 0 auto;
}
